body {
  font-family: 'Times New Roman', Times, serif, sans-serif
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header h1 {
  margin: 0;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav li {
    margin-left:20px
}

header nav a {
    color:white
}

section {
    padding-top :50px
}